{% extends 'base.html' %}

{% block title %}Panel Matrona{% endblock %}

{% block content %}
<div class="container mt-4">
    
    <h1 class="mb-4 text-success"><i class="fas fa-user-nurse me-2"></i> Panel Matrona</h1>
    
    <p class="lead mb-4">Bienvenido al panel de usuario MATRONA. Desde aquí puede gestionar el registro de partos y visualizar el historial clínico de las pacientes.</p>

    <hr class="my-4">
    
    <div class="d-flex flex-wrap gap-3 mb-5">
        
        <a href="{% url 'lista_partos' %}" class="btn btn-success btn-lg">
            <i class="fas fa-baby me-2"></i> Ver listado de Partos
        </a>

        <a href="{% url 'lista_rns' %}" class="btn btn-success btn-lg">
            <i class="fas fa-baby me-2"></i> Ver Listado de Recien nacidos
        </a>
        
        <a href="{% url 'crear_parto' %}" class="btn btn-outline-secondary btn-lg">
            <i class="fas fa-list-alt me-2"></i> Registrar Nuevo Parto
        </a>
    </div>

    </div>
{% endblock %}