{% extends 'base.html' %}

{% block title %}Panel Supervisor{% endblock %}

{% block content %}
<div class="container mt-4">
    
    <h1 class="mb-4"><i class="fas fa-eye me-2"></i> Panel Supervisor</h1>
    
    <p class="lead mb-4">Bienvenido al panel de usuario SUPERVISOR. Utilice la siguiente opción para la revisión y generación de informes clínicos.</p>

    <hr class="my-4">
    
    <div class="d-flex flex-wrap gap-3 mb-5">
        <a href="{% url 'reportes_dashboard' %}" class="btn btn-warning btn-lg">
            <i class="fas fa-chart-line me-2"></i> Ver Dashboard y Reportes
        </a>
    </div>

    </div>
{% endblock %}